* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.calculator {
  width: 400px;
  height: 595px;
  background-color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 2px;
}

.screen {
  color: #fff;
  font-family: monospace;
  font-size: 40px;
  padding: 20px 5px;
  text-align: right;
  grid-column: 1 / span 4;
}

button {
  background-color: #d8d9db;
  border: none;
  border-radius: 0;
  font-size: 40px;
}

button:hover {
  background-color: #ebebeb;
}

.operator,
.equals {
  background-color: #df974c;
  color: #fff;
}

.operator:hover,
.equals:hover {
  background-color: #dfb07e;
}

.clear {
  grid-column: 1 / span 2;
}

.zero {
  grid-column: 1 / span 3;
}
